@model Flashcards.DTOs.CreateDeckDto
@section Styles {
<style>
    .card {
        max-width: 500px !important;
        margin: 50px auto;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

</style>
}
@{
Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
       Edytuj deck
    </div>
    <div class="card-body">
        <form asp-action="Edit" asp-route-id="@ViewBag.DeckId" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Nazwa</label>
                <input asp-for="Name" id="Name" required class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SessionLimit" class="form-label">Limit sesji</label>
                <input asp-for="SessionLimit" id="SessionLimit" type="number" class="form-control"/>
                <span asp-validation-for="SessionLimit" class="text-danger"></span>
            </div> 
            <div class="text-end">
                <button type="submit" class="btn btn-success">Zapisz</button>
            </div>
        </form>
    </div>
</div>
