@model IEnumerable<Flashcards.DTOs.DeckDto>

<p>Explore Decks</p>
<ul>
    @foreach (var deck in Model)
    {
        <li>
            @deck.Name - 
            <a href="user/@deck.UserId/deck">Users decks</a>
            <a href="/Flashcard?deckId=@deck.Id">Flashcards</a>
            <form action="/DeckSession/decks/@deck.Id" method="post" style="display:inline;">
                <button type="submit">Start Session</button>
            </form>
        </li>
    }
</ul>