@model Flashcards.DTOs.CreateDeckDto

<h2>New Deck</h2>
<form asp-action="New" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="SessionLimit"></label>
        <input asp-for="SessionLimit" type="number" />
    </div>
    <button type="submit">Create</button>
</form>