@model Flashcards.DTOs.CreateDeckDto
@section Styles {
<style>
    .card {
        max-width: 500px !important;
        margin: 50px auto;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }
    
</style>
}
@{
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
        Dodaj nowy deck
    </div>
    <div class="card-body">
        <form asp-action="New" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control"/>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

            </div>
            <div class="mb-3">
                <label asp-for="SessionLimit" class="form-label"></label>
                <input asp-for="SessionLimit" class="form-control" type="number"/>
                @Html.ValidationMessageFor(m => m.SessionLimit, "", new { @class = "text-danger" })
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-success">Stwórz</button></div>
        </form>    
        </div>
</div>
