@model IEnumerable<Flashcards.DTOs.DeckDto>
<h2>Decki gracza: @ViewBag.DeckOwnerName</h2>
<ul>
    @foreach (var deck in Model)
    {
        <li>
            @deck.Name - 
            <a href="/Flashcard?deckId=@deck.Id">Flashcards</a>
            <a href="/DeckSession/decks/@deck.Id">Start Session</a>
        </li>
    }
</ul>