@model Flashcards.DTOs.CreateFlashcardDto
@section Styles {
<style>
    .card {
        max-width: 500px !important;
        margin: 50px auto;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

</style>
}
@{
Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
        Edytuj fiszkę
    </div>
    <div class="card-body">
<form asp-action="Edit" asp-route-id="@ViewBag.FlashcardId" method="post">
    <div class="mb-3">
        <label asp-for="Front" class="form-label"></label>
        <input asp-for="Front" class="form-control"/>
        @Html.ValidationMessageFor(m => m.Front, "", new { @class = "text-danger" })

    </div>
    <div class="mb-3">
        <label asp-for="Back" class="form-label"></label>
        <input asp-for="Back" class="form-control"/>
        @Html.ValidationMessageFor(m => m.Back, "", new { @class = "text-danger" })

    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-success">Zapisz</button>
    </div>
</form>


    </div>
</div>
