@model IEnumerable<Flashcards.DTOs.FlashcardDto>


@{
    Layout = "_Layout";
}



<div class="card">
    <div class="card-header">
        Fiszki
    </div>
    <div class="card-body">
        <div class="mb-3">
            <a class="btn btn-sm btn-success" href="/Flashcard/decks/@ViewBag.deckId/new">Dodaj</a>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Pytanie</th>
                <th>Odpowiedź</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var flashcard in Model)
            {
                <tr>
                    <td>@flashcard.Id</td>
                    <td>@flashcard.Front</td>
                    <td>@flashcard.Back</td>
                    <td>
                        <a class="btn btn-success btn-sm" href="/Flashcard/edit/@flashcard.Id">Edycja</a>
                        <form asp-action="DeleteFlashcard" asp-route-id="@flashcard.Id" method="post" style="display:inline;">
                            <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Potwierdz usuniecie');">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    </div>