@model Flashcards.DTOs.CreateDeckSessionDto

<h2>New Deck Session</h2>
<form asp-action="New" asp-route-id="@ViewBag.DeckId" method="post">
    <div>
        <label asp-for="SessionLimit"></label>
        <input asp-for="SessionLimit" />
    </div>
    <div>
        <label asp-for="SessionLength"></label>
        <input asp-for="SessionLength" type="number" />
    </div>
    <button type="submit">Create</button>
</form>